<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid w-75 m-auto">
            <a href="#" class="navbar-brand d-flex align-items-center text-dark">
                <img src="../../assets/logo.png" alt="PersonalManager" >
                <p class="fs-4 fw-bolder m-0 ms-2">PeMa</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                    <li class="nav-item me-3">
                        <a href="#" class="nav-link fw-bolder text-center">About</a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="#" class="nav-link fw-bolder text-center">Products</a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="#" class="nav-link fw-bolder text-center">Blog</a>
                    </li>
                    <li class="nav-item me-3">
                        <a href="#" class="nav-link fw-bolder text-center">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link fw-bolder text-center">Contact</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-info bg-purple-100 text-purple border-0 py-2 px-3 mx-2">Login</button>
                    <button class="btn btn-primary text-light bg-purple border-0 py-2 px-3 mx-2">Sign Up</button>
                </div>
            </div>
        </div>
    </nav>
    <section class="banner vh-100 d-flex align-items-center position-relative w-75 m-auto">
        <div class="banner__content mb-5">
            <h1 class="fw-bolder">Organise projects.</h1>
            <h1 class="fw-bolder">Get more done.</h1>
            <button class="btn btn-primary bg-purple text-light mt-5 border-0">Get started</button>
        </div>
        <img src="../../assets/iPhone X.png" alt="mockup" class="position-absolute bottom-0 end-0 me-5 mb-5">
    </section>
    <div class="w-100 position-absolute background top-0 start-0">
        <div class="background__circle position-absolute end-0"></div>
        <div class="background__lBand1 bg-turquoise-800 position-absolute"></div>
        <div class="background__lBand2 bg-purple-100 position-absolute"></div>
        <div class="background__rBand1 bg-purple-100 position-absolute"></div>
        <div class="background__rBand2 bg-purple-800 position-absolute"></div>
        <div class="background__rBand3 bg-turquoise-800 position-absolute"></div>
    </div>
    <section class="sponsor w-75 m-auto">
        <hr>
        <div class="sponsor__logos d-flex justify-content-between align-items-center py-4 w-75 m-auto">
            <img src="../../assets/Airbnb Logo.png" alt="">
            <img src="../../assets/Hubspot Logo.png" alt="">
            <img src="../../assets/Google Logo.png" alt="">
            <img src="../../assets/Microsoft Logo.png" alt="">
            <img src="../../assets/Walmart Logo.png" alt="">
            <img src="../../assets/FedEx Logo.png" alt="">
        </div>
        <hr>
    </section>
    <section class="feature w-75 m-auto py-5 text-center">
        <div class="feature__overview w-50 m-auto">
            <h1 class="fw-bolder">Tailor-made features</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet, saepe consequatur incidunt iure molestiae reprehenderit, deserunt nihi.</p>
        </div>
        <div class="feature__details">
            <div class="row">
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/01.png" alt="" class="py-3">
                    <h3 class="fw-bolder">Robust workflow</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/02.png" alt="" class="py-3">
                    <h3 class="fw-bolder">Flexibility</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/03.png" alt="" class="py-3">
                    <h3 class="fw-bolder">User-friendly</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/04.png" alt="" class="py-3">
                    <h3 class="fw-bolder">Multiple layout</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/05.png" alt="" class="py-3">
                    <h3 class="fw-bolder">Better components</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
                <div class="col-lg-4 col-6 p-4">
                    <img src="../../assets/08.png" alt="" class="py-3">
                    <h3 class="fw-bolder">Well organised</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consectetur eveniet</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-turquoise-100">
        <div class="stories position-relative w-75 m-auto h-100">
            <div class="stories__quotes position-absolute start-0">
                <img src="../../assets/Quote Mark.png" alt="">
            </div>
            <div class="row h-100">
                <div class="col-12 col-lg-6">
                    <div class="stories__header">
                        <h1 class="fw-bolder">Real Stories from</h1>
                        <h1 class="fw-bolder">Real Customers</h1>
                        <p>Get inspired by these stories.</p>
                    </div>
                    <div class="stories__hubplot float-end bg-white p-4 rounded-3 shadow">
                        <img src="../../assets/Hubspot Logo1.png" alt="" class="w-50"><br>
                        <div class="d-flex mt-3">
                            <img src="../../assets/Quote Mark.png" alt="" width="20px" height="20px">
                            <div class="ps-3">
                                <p>To quickly start my startup landing page design, I was looking for a landing page UI Kit. Landify is one of the best landing page UI kit I have come across. It’s so flexible, well organised and easily editable.</p>
                                <h6 class="fw-bolder">Floyd Miles</h6>
                                <p class="text-secondary">Vice President, GoPro</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="stories__airbnb bg-white p-4 rounded-3 w-75 shadow">
                        <img src="../../assets/Airbnb Logo1.png" alt="" class="w-50"><br>
                        <div class="d-flex mt-3">
                            <img src="../../assets/Quote Mark.png" alt="" width="20px" height="20px">
                            <div class="ps-3">
                                <p>To quickly start my startup landing page design, I was looking for a landing page UI Kit. Landify is one of the best landing page UI kit I have come across. It’s so flexible, well organised and easily editable.I used landify and created a landing page for my startup within a week. The Landify UI Kit is simple and highly intuitive, so anyone can use it.</p>
                                <h6 class="fw-bolder">Jane Cooper</h6>
                                <p class="text-secondary">CEO, Airbnb</p>
                            </div>
                        </div>
                    </div>
                    <div class="stories__fedex bg-white p-4 rounded-3 w-50 mt-4 shadow">
                        <img src="../../assets/BookMyShow Logo.png" alt="" class="w-50"><br>
                        <div class="d-flex mt-3">
                            <img src="../../assets/Quote Mark.png" alt="" width="20px" height="20px">
                            <div class="ps-3">
                                <p>Landify saved our time in designing my company page.</p>
                                <h6 class="fw-bolder">Kristin Watson</h6>
                                <p class="text-secondary">Co-Founder, BookMyShow</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="achievements w-75 m-auto py-5">
        <div class="row py-3">
            <div class="col-12 col-lg-6">
                <h1 class="fw-bolder">Our 18 years of <br> achievements</h1>
                <p>With our super powers we have reached this</p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row pb-3">
                    <div class="col-6 d-flex align-items-center">
                        <img src="../../assets/01.png" alt="" width="30" height="30">
                        <div class="ms-4">
                            <h4 class="fw-bolder">10,000+</h4>
                            <p class="m-0">Downloads per day</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <img src="../../assets/04.png" alt="" width="30" height="30">
                        <div class="ms-4">
                            <h4 class="fw-bolder">2 Million</h4>
                            <p class="m-0">Users</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 d-flex align-items-center">
                        <img src="../../assets/05.png" alt="" width="30" height="30">
                        <div class="ms-4">
                            <h4 class="fw-bolder">500+</h4>
                            <p class="m-0">Client</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <img src="../../assets/6.png" alt="" width="30" height="30">
                        <div class="ms-4">
                            <h4 class="fw-bolder">140</h4>
                            <p class="m-0">Countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="headline w-75 m-auto py-5">
        <div class="row">
            <div class="col-12 col-lg-6 pe-5">
                <img src="../../assets/headlinePhone.png" alt="">
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center ps-5">
                <div class="d-flex h-50 flex-column justify-content-between">
                    <h1 class="fw-bolder">Headline</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore molestias ad odio aliquid doloribus facilis veniam laborum esse nemo? Eveniet repellendus autem possimus harum aut ipsum quibusdam dolorum enim.</p>
                    <a href="#" class="text-purple text-decoration-none fw-bolder">Get Started --></a>
                </div>
            </div>
        </div>
    </section>
    <section class="trends w-75 m-auto py-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="fw-bolder">Enter the world of all <br> fashion trends</h1>
            </div>
            <div class="col-12 col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur consequatur dolorum aperiam minus deserunt praesentium architecto cupiditate, numquam animi corrupti quae repellat accusamus ratione. Natus rem harum ipsa et!</p>
            </div>
        </div>
        <img src="../../assets/lights.png" alt="" class="w-100 py-5">
    </section>
    <section class="download bg-turquoise py-5 position-relative">
        <div class="row h-100 w-75 m-auto py-5">
            <div class="col-12 col-lg-6 download__left">
                <h1 class="fw-bolder">Manager your projects <br> from your mobile</h1>
                <p class="mt-4 mb-5">Download the app to manage your projects, keep track of the progress and complete tasks without procastinating. Stay on track and complete on time!</p>
                <div class="download__app">
                    <h5>Get the app</h5>
                    <div>
                        <img class="me-3" src="../../assets/Google Play Badge.png" alt="">
                        <img src="../../assets/App Store Badge.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 position-relative download__right">
                <img src="../../assets/iPhone X.png" alt="" width="300" class="position-absolute">
                <img src="../../assets/iPhone X.png" alt="" width="300" class="position-absolute end-0">
            </div>
        </div>
    </section>
    <section class="footer bg-dark py-5">
        <div class="w-75 m-auto py-3 d-flex justify-content-between">
            <div class="footer__left">
                <img class="d-block" src="../../assets/logo.png" alt="" class="mb-3">
                <ul class="d-flex p-0 mb-1">
                    <li><a href="#" class="text-white nav-link ps-0">Download Now</a></li>
                    <li><a href="#" class="text-white nav-link">License</a></li>
                </ul>
                <ul class="d-flex p-0">
                    <li><a href="#" class="text-white nav-link ps-0">About</a></li>
                    <li><a href="#" class="text-white nav-link">Features</a></li>
                    <li><a href="#" class="text-white nav-link">Pricing</a></li>
                    <li><a href="#" class="text-white nav-link">Careers</a></li>
                    <li><a href="#" class="text-white nav-link">Help</a></li>
                    <li><a href="#" class="text-white nav-link">Privacy Policy</a></li>
                </ul>
                <p class="text-light m-0">&copy; 2020 Landify UI Kit. All rights reserved</p>
            </div>
            <div class="footer__right">
                    <h5 class="text-white">Get the app</h5>
                    <img class="me-3 d-block my-3" src="../../assets/Google Play Badge.png" alt="">
                    <img src="../../assets/App Store Badge.png" alt="">
            </div>
        </div>
    </section>
</div>
    